@media (min-width: 768px) {
  .container {
    width: auto;
  }
}
@media (min-width: 992px) {
  .container {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: auto;
  }
}

section#header, section#main-menu, .navbar-main, section#footer p, .dataTables_wrapper {
  background: none;
  border: 0;
  padding: 0;
}

.dataTables_wrapper .dataTables_filter label .form-control {
  width: auto;
  margin: 0;
}

section#home-banner, .home-shortcuts, .label-default {
  background: none;
}

.lead, .label-default, section#footer p {
  font-size: 20px;
  font-weight: normal;
  color: inherit;
}

.container {
  padding-right: 0;
  padding-left: 0;
}

#top-nav {
  margin-top: 20px;
}

.navbar-main .navbar-nav > li > a, .breadcrumb > .active, .breadcrumb > li + li::before, .text-warning, i.icon-rss {
  color: inherit;
}
.navbar-main .navbar-nav > .open > a, .navbar-main .navbar-nav > .open > a:focus, .navbar-main .navbar-nav > li > a:hover {
  color: $color-black;
  background-color: $color-amber;
}

body.green .navbar-main .navbar-nav > .open > a, body.green .navbar-main .navbar-nav > .open > a:focus, body.green .navbar-main .navbar-nav > li > a:hover {
  background-color: $color-green;
}

.dropdown-menu {
  background-color: $color-amber;
  color: $color-black;
}

body.green .dropdown-menu {
  background-color: $color-green;
  color: $color-black;
}

.dropdown-menu > li > a, body.green .dropdown-menu > li > a{
  color: $color-black;
}

.dropdown-menu > li > a:focus, .navbar-main .dropdown-menu > li > a:hover {
  background: $color-amber-hover;
  color: $color-black;
}

body.green .dropdown-menu > li > a:focus, body.green .navbar-main .dropdown-menu > li > a:hover {
  background: $color-green-hover;
  color: $color-black;
}

.nav .nav-divider {
  background: $color-grey-dark;
}

div.header-lined h1 {
  color: inherit;
  font-size: 1.7rem;
  padding-bottom: 0;
  border-color: inherit;
  border-style: dashed;
  border-width: 0 0 2px;
}

h1 small {
  font-size: 64%;
  letter-spacing: 1px;
  color: inherit;
}

.breadcrumb {
  background: none;

  > li + li::before {
    content: "//";
  }
}

.form-control, output {
  font-size: 20px;
  line-height: 1.3;
}

input[type="text"] {
  padding: 0 10px;
  margin: 0;
}

.btn, .clientalert .btn-xs {
  font-family: inherit;
  padding: 2px 10px;
  font-size: 20px;
  line-height: 1.45;
  background: $color-amber;
  border-color: inherit;
}

body.green .btn {
  background: $color-green;
  color: $color-black;
}

.btn:hover {
  background: $color-amber-hover;
  border-color: $color-amber-hover;
}

body.green .btn:hover {
  background: $color-green-hover;
  border-color: $color-green-hover;
}

.btn-primary {
  background-color: $color-amber;
  border-color: $color-amber;
  color: $color-black;
  font-size: 20px;
}

.btn-primary:hover {
  color: $color-black;
  background: $color-amber-hover;
}

.btn-primary:active:focus {
  background-color: $color-amber-hover;
  color: $color-black;
}

body.green .btn-primary {
  background-color: $color-green;
  border-color: $color-green;
}

body.green .btn-primary:hover {
  background-color: $color-green-hover;
}

body.green .btn-primary:active:focus {
  color: $color-black;
}

.progress {
  background-color: rgba(0,0,0,0.4);
}

.badge {
  background-color: $color-amber;
  color: $color-black;
  font-size: 20px;
  border-radius: 3px;
}

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {
  background-color: $color-amber-hover;
  color: $color-black;
}

body.green .list-group-item.active > .badge, body.green .nav-pills > .active > a > .badge {
  background-color: $color-green-hover;
}

.popover, .popover-title {
  font-size: 20px;
  background-color: inherit;
  border-bottom: inherit;
  border-radius: 0;
  font-family: inherit;
  line-height: 1;
}

.popover.bottom > .arrow::after {
  border-bottom-color: $color-amber;
}

body.green .popover.bottom > .arrow::after {
  border-bottom-color: $color-green;
}

.clientalert:hover {
  background: none;
}

body.green .badge {
  background-color: $color-green;
}

.status-pending {
  background: none;
  font-size: 20px;
  border: 1px solid;
  color: inherit;
}

.alert-info, .alert-warning, .alert-danger {
  background-color: inherit;
  border: 0;
  color: inherit;
}

.panel {
  background: none;
}

.panel-default, .panel-danger {
  border-color: inherit;
}

.panel-default > .panel-heading, .panel-danger > .panel-heading {
  background: $color-amber;
  border-color: inherit;
  color: $color-black;
}

body.green .panel-default > .panel-heading, body.green .panel-danger > .panel-heading {
  background: $color-green;
}

.label-warning {
  background: $color-amber;
}

body.green .label-warning{
  background: $color-green;
}

body.green .label-warning:hover {
  background: $color-green-hover;
}

.panel-title {
  font-size: 20px;
  text-align: right;
  font-family: VT220, mono, monospace;
}

.panel-footer {
  background: none;
  border-color: inherit;
}

.list-group {
  font-size: 20px;
}

.list-group-item {
  background: transparent;
  border-color: inherit;
}

a.list-group-item {
  border: 0;
  margin: 5px 0 0;
}

a.list-group-item:hover {
  background-color: $color-amber-hover;
  color: $color-black;
}

body.green a.list-group-item:hover {
  background-color: $color-green-hover;
  color: $color-black;
}

a.list-group-item, button.list-group-item {
  color: $color-amber;
}

a.list-group-item:hover {
  color: $color-black;
  background: $color-amber-hover;
}

a.list-group-item.active {
  background-color: $color-amber;
  color: $color-black;
}

a.list-group-item.active, a.list-group-item.active:focus, a.list-group-item.active:hover {
  background-color: $color-amber;
  color: $color-black;
}

body.green a.list-group-item.active {
  background-color: $color-green;
  color: $color-black;
}

.list-group-item > i.fa.fa-circle-o {
  color: inherit;
}

.dataTables_wrapper .dataTables_info {
  background: none;
}

.dataTables_wrapper .dataTables_info, table.table-list thead th {
  background: inherit;
  border-color: inherit;
  font-size: 20px;
  color: inherit;
}

body.green table.table-list thead th {
  border-color: $color-green-hover;
}

.table > tbody > tr > td {
  border-color: inherit !important;
  border-top-style: dashed;
  border-top-width: 2px;
}

.table > tbody > tr:first-child > td {
  border: 0;
}

table.table-list tbody td, .table-striped > tbody > tr {
  background: none !important;
  border-color: $color-amber-hover;
  font-size: 20px;
}

.pagination > .disabled > a {
  background: none;
  border-color: $color-amber;
  color: inherit;
}

.pagination > .disabled > a:hover {
  background: $color-amber-hover;
  border-color: $color-amber-hover;
  color: $color-black;
}

.pagination > .active > a {
  background-color: $color-amber;
  border-color: $color-amber;
  color: $color-black;
}

body.green .pagination > .disabled > a {
  border-color: $color-green;
}

body.green .pagination > .disabled > a:hover {
  background: $color-green-hover;
  border-color: $color-green-hover;
  color: $color-black;
}

body.green .pagination > .active > a {
  background-color: $color-green;
  border-color: $color-green;
  color: $color-black;
}

.md-editor {
  border-color: inherit;
  border-style: dashed;
  border-width: 1px 0;
}

.md-editor .md-footer, .md-editor > .md-header {
  background: none;
  color: inherit;
}

.md-editor > .md-preview {
  background: inherit;
  border-color: inherit;
}

.md-editor.md-fullscreen-mode textarea, .md-editor.md-fullscreen-mode .md-preview , .md-editor.md-fullscreen-mode .md-preview p {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace !important;
}

.login-popover {
  margin-left: -77px
}

section#home-banner, section#home-banner h2, body.green section#home-banner h2 {
  color: inherit;
}

.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: 20px;
  border-radius: 0;
  color: $color-black;
}

.input-group-lg > .input-group-btn > .btn {
  border-radius: 0 3px 3px 0;
}

.home-shortcuts {
  color: inherit;
}

.home-shortcuts h3 {
  margin: 0 0 30px;
}

.home-shortcuts li {
  border-color: inherit;
  border-style: dashed;
  border-width: 0 0 2px 0;
  padding: 10px 0;
}

.home-shortcuts li a {
  color: inherit;
}

.home-shortcuts li a:hover {
  color: $color-amber-hover;
}

body.green .home-shortcuts li a:hover {
  color: $color-green-hover;
}

.home-shortcuts li a i {
  font-size: 48px;
}

@media (min-width: $bp-tablet) {
  .home-shortcuts li {
    border-width: 0 3px 0 0;
  }

  .home-shortcuts li:first-child {
    border-left: 0;
  }

  .home-shortcuts li:last-child {
    border-right: 0;
  }

  .home-shortcuts li a i {
    font-size: 64px;
  }
}

h2.section-title {
  margin-top: 40px;
  border-width: 0 0 2px;
  border-style: dashed;
}

div.announcement-single .label {
  font-family: arcade, mono, monospace;
  font-size: 1.1rem;
  padding: 0;
}

div.announcement-single blockquote .label {
  color: $color-black;
  font-family: VT220, mono, monospace;
  font-size: 20px;
  padding: 4px 10px 2px;
  border-radius: 3px;
}

div.announcement-single blockquote {
  margin-top: 0;
}

div.tweet span {
  font-size: inherit;
  color: inherit;

  &::before {
    content: "@ ";
  }
}

#top-nav .nav {
  font-size: inherit;
  float: none !important;
  margin: 8px 0;
  text-align: right;

  a {
    text-decoration: none;
  }
}